# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Raw zip inbox (keep folder, ignore contents)
raw_zips_inbox/*.zip

# Byte-compiled / optimized / DLL files
*.egg-info/
dist/
build/
